*{
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    --main: #114635;
    --main-50: #11463587;
    --secondary: #E2DAC3;
    --secondary-50: #e2dac387;
    --tertiary: #DA8953;
    --accent: #B83D42;
}

/*Font*/
   @font-face {
    font-family: "Molgak Classy";
    src: url(../font/MolgakClassyRegular-lgX7d.ttf),
    url(../font/MolgakClassyRegular-nRodg.otf);

   }
   @font-face {
    font-family: "Now bold";
    src: url(../font/MolgakClassyRegular-lgX7d.ttf);
    font-weight: bold;
    font-style: normal;
   }
   @font-face {
    font-family: "Now";
    src: url(../font/Now/Now-ExtraBold.otf);
    font-weight:bolder;
    font-style: normal;
   }
   @font-face {
    font-family: "Now";
    src: url(../font/Now/Now-ExtraLight.otf);
    font-weight:200;
    font-style: normal;
   }
   @font-face {
    font-family: "Now";
    src: url(../font/Now/Now-Light.otf);
    font-weight:lighter;
    font-style: normal;
   }
   @font-face {
    font-family: "Now";
    src: url(../font/Now/Now-Medium.otf);
    font-weight:500;
    font-style: normal;
   }
   @font-face {
    font-family: "Now Regular";
    src: url(../font/Now/Now-Regular.otf);
    font-weight:normal;
    font-style: normal;
   }
   @font-face {
    font-family: "Now";
    src: url(../font/Now/Now-SemiBold.otf);
    font-weight:600;
    font-style: normal;
   }
   @font-face {
    font-family: "Now";
    src: url(../font/Now/Now-Thin.otf);
    font-weight:100;
    font-style: normal;
   }
      
html{
    height: 100%;
}
body{
    font-family: 'Now Regular',sans-serif;
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: var(--main);
} 

h1,h2,h3,h4,h5,h6{
    font-family: 'Molgak Classy';
}

h1{
    font-size: 150px;
    line-height: 160px;
    letter-spacing: 7px;
    text-align: center;
}
h2{
    font-size: 48px;
    line-height: 63.8px;
}
h3{
    font-size: 40px;
    line-height: 52.8px;
}
h4{
    font-size: 32px;
    line-height:42.9px;
}
h5{
    font-size: 24px;
    line-height: 31.9px;
}
h6{
    font-size: 20px;
    line-height: 26.4px;
}
.color-main{
    color: var(--main);
}
.color-main-50{
    color: var(--main-50);
}
.color-sec{
    color: var(--secondary);
}
.color-ter{
    color: var(--tertiary);
}

/*Header*/
#header{
    padding: 0 120px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
/*menu*/
.menu-1{
    display: flex;
    align-items: center;
    color: var(--secondary-50);
    text-decoration: none;
    padding: 12px; 
    gap: 12px;
    justify-content: space-between;
}
.menu-menu-1-container{
    width: 40%;
}
.site-branding{
    margin: auto;
}
#menu-2{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: end;
}
.menu-1 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}
.menu-1 li a {
    color: var(--secondary-50);
    text-decoration: none;
    padding: 12px; 
}
.menu-1 li {   
    display: inline-block;
    position: relative;
}
.menu-1 li a:hover {
    text-decoration: none;
    color: var(--secondary);
}

.menu-1 li:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--secondary);
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.menu-1 li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: var(--secondary);
}

#logoMoonwine{
    fill: var(--secondary)
}

.menu-2{
    display: flex;
    align-items: center;
    color: var(--main);
    text-decoration: none;
    padding: 12px; 
    gap: 12px;
    justify-content: space-between;
}
.menu-2 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}
.menu-2 li a {
    color: var(--main);
    text-decoration: none;
    padding: 12px; 
}
.menu-2 li {   
    display: inline-block;
    position: relative;
}
.menu-2 li a:hover {
    text-decoration: none;
    color: var(--main);
}

.menu-2 li:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--main);
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.menu-2 li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: var(--main);
}
/*button*/
.button-small{
    background: linear-gradient(to left, var(--tertiary) 50%, var(--secondary) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    padding: 12px;
    border-radius: 100px;
    border: none;
    color: var(--secondary);
}

.button-small:hover {
    background-position: left;
    padding: 12px;
    border-radius: 100px;
    border: none;
    color: var(--main);
}

.button-main{
    background: linear-gradient(to left, var(--tertiary) 50%, var(--main) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    padding: 12px;
    border-radius: 100px;
    border: none;
    color: var(--secondary);
}
.button-main:hover{
    background-position: left;
    padding: 12px;
    border-radius: 100px;
    border: none;
}

/*button avec icone*/

.btnIcn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.svg-icone-button{
    fill: var(--secondary);
}

.button-small:hover > .svg-icone-button{
    fill: var(--main)!important;
}


/****************************/
/*Page Accueil*/
#page{
    width: 100%;
    height: 100%;
}
#image-accueil{
    position: absolute;
    top: -23px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    width: 100%;
}
#image-accueil img{
    width: 100%;
}

.first-title{
    color: var(--secondary);
    width: 50%;
    margin:148px auto 0 auto;
    transition: 1s;
}
.first-title-scroll{
    color: var(--secondary);
    width: 50%;
    margin:148px auto 0 auto;
    transition: 1s;
}

.event-back-scroll{
    background-color: var(--secondary);
    width: auto;
    height: 274px;
    margin: 0 120px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    transition: 1s;
}
.event-scroll{
    background-color: var(--secondary);
    width: auto;
    height: 980px;
    margin: 0;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: -218px;
    padding: 20px;
    transition: 1s;
    z-index: 2;
}

#discover{
    display:flex;
    flex-direction: row;
    transition: 1s;
}
.discover-scroll{
    margin: 120px 120px 0 120px;
    background-color: var(--main);
    border-radius: 20px;
    transition: 1s;
}
.discover-img{
    position: relative;
    transition: 1s;
}
.discover-img img{
    border-radius: 20px 0 0 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: 1s;

}
.discover-img::after{
    display: block;
    position: absolute;
    background-image: linear-gradient(to right, var(--secondary-50) 0, var(--secondary) 100%);
    margin-top: 0;
    height: 274px;
    width: 242px;
    content: '';
    border-radius: 20px 0 0 0;
    z-index: 2;
    transition: 1s;

}
.discover-img-scroll{
    position: relative;
    transition: 1s;
}
.discover-img-scroll img{
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: 1s;

}
.discover-img-scroll::after{
    display: block;
    position: absolute;
    background-image: linear-gradient(to right, var(--main-50) 0, var(--main) 100%);
    margin-top: 0;
    height: 274px;
    width: 242px;
    content: '';
    border-radius: 20px 0 0 20px;
    z-index: 2;
    transition: 1s;

}

#content-discover{
    display: flex;
    flex-direction: column;
    color: var(--main);
    z-index: 10;
    padding: 50px;
    width: 55%;
    gap: 25px;
    margin-left: 140px;
}
#content-discover h4{
    width: 431px;
}
#info-discover{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
#section-discover{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

#aPropos{
    margin: 0 120px 80px 120px;
    height: 534px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 80px;
    text-align: center;
}

